
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}
.form-control:focus {
    border-color: #F9A51A;
}
.form-control .btn {
    outline: none !important;
}
.booking-signup-form {
    width: 50% !important;
    margin-right: 10% !important;
    margin-top: 10%;
    height: 300px;
}
.booking-signup-form form {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid lightgray;
    padding: 40px;
}
.booking-signup-form a {
    color: #F9A51A;
}    
.booking-signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}
.booking-signup-form .hint-text {
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.booking-signup-form .form-group {
    margin-bottom: 20px;
}
.booking-signup-form .btn {        
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.signup-btn {
    text-align: center;
    color: black;
    background-color: #F9A51A !important;
    border-color: #F9A51A !important;
    transition: all 0.4s;
}
.signup-btn:hover {
    background: #F9A51A;
    opacity: 0.8;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 2px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: black;
    margin: 10px 0 0 0;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    width: 100%;
    border: none;
    transition: all 0.4s;
    border: 1px solid lightgray;
}	
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}

.icons{
    text-align: left;
    width: 25px;
    height: 25px;
}
.input-lg{
  border: none !important;
  border-bottom: 1px solid lightgray !important;
  width: 100% !important;
  
}
::placeholder {
    color: black !important;
    opacity: 1; /* Firefox */
  }